body h1:nth-child(1) {
    text-align: center;
    text-transform: capitalize;
}

.btn {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    min-width: 5em;
    min-height: 2em;
    color: black;
    border: 1px solid darkcyan;
    text-align: center;
    vertical-align: middle;
    padding: .5em;
    margin: 1em;
    font-size: 0.7em;
}